.body-forget {
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}
.wrapper {
    // height: calc(100vh - 2px);
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    bottom: 0;
    margin: auto;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.login-title {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: black;
}
.forget-form {
    margin-top: 20px;
    width: 100%;
    height: 380px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
.form-phoneNumber {
    display: flex;
    width: 70%;
    height: auto;
    margin-left: 15%;
    border-bottom: solid 0.5px #d3d3d3;
    margin-top: 50px;
}
.forget-form .item {
    font-size: 25px;
}
.forget-form input {
    width: 80%;
    height: 25px;
    margin-left: 8%;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    font-size: 1.7rem;
    font-family: var(--font-family);
    background: transparent;
    transition: border-color 0.2s;
}
.forget-form input:disabled {
    background: #ccc;
}

.form-user {
    display: flex;
    width: 70%;
    height: auto;
    margin-left: 15%;
    border-bottom: solid 0.5px #d3d3d3;
    margin-top: 20px;
}
.form-password {
    display: flex;
    width: 70%;
    height: auto;
    //margin-top: 10px;
    margin-left: 15%;
    margin-bottom: 10px;
    border-bottom: solid 0.5px #d3d3d3;
}
.form-button {
    display: flex;
}
.form-button button {
    margin-top: 20px;
    margin-left: 15%;
    width: 70%;
    height: 40px;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    border: 0;
    font-size: 1.8rem;
    color: var(--white);
    &:hover {
        opacity: 0.8;
    }
}
.form-button .confirm {
    margin-top: 20px;
    margin-right: 15%;
    width: 50%;
    height: 40px;
    float: right;
    background-color: var(--primary);
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    border: 0;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--primary);
    &:hover {
        opacity: 0.8;
    }
}
.form-button .cancel {
    margin-top: 20px;
    width: 50%;
    height: 40px;
    float: right;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    border: 0;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--not-active);
    &:hover {
        opacity: 0.8;
    }
}

.form-back {
    display: flex;
    padding-top: 10px;
    font-size: 16px;
    padding-left: 10px;
    cursor: pointer;
}
.form-back .item-back {
    font-size: 40px;
}
.form-back .back {
    margin-top: 10px;
    text-decoration: none;
    margin-left: -10px;
}

.register {
    padding-top: 20px;
    font-size: 8px;
    font-family: var(--font-family);
    text-align: center;
}
//loi
.error {
    color: red;
    font-size: 1.5rem;
    margin-left: 15%;
    // margin-top: -2px;
    font-family: var(--font-family);
}
.error p {
    text-align: left;
    color: red;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: -20px;
    margin-bottom: 10px;
    width: 70%;
    font-family: var(--font-family);
}
