.body-info {
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.wrapper {
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    bottom: 0;
    margin: auto;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.login-title {
    font-family: var(--font-family);
    font-size: 14px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: black;
}
.info-form {
    margin-top: 10px;
    width: 100%;
    height: 550px;
    background-color: rgb(255, 255, 255);

    border-radius: 10px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
//@at-root
.info-acc {
    position: relative;
}

.info-image,
.sub-info-image {
    position: relative;
    height: 200px;
}

.img-cover {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.img-avatar,
.sub-img-avatar {
    position: absolute;
    left: 0;
    right: 0;
    bottom: 0;
    top: 110px;
    margin: auto;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--white);
}
.img-avatar-ConversationInfo {
    position: absolute;
    margin: auto;
    width: 62px;
    height: 62px;
    border-radius: 50%;
    object-fit: cover;
    border: 1px solid var(--white);
    cursor: pointer;
}

// sub model update info account (change avatar)
.icon-camera {
    position: absolute;
    left: 34px;
    right: 0;
    bottom: 14px;
    margin: auto;
    font-size: 1.2rem;
    color: var(--not-active);
    cursor: pointer;
}

.option-avatar {
    display: flex;
    align-items: center;
}

.hide {
    display: none;
}

.info-name {
    position: relative;
}

.name {
    position: absolute;
    left: 0;
    right: 0;
    top: -6px;
    font-size: 1.8rem;
    font-weight: 600;
    color: var(--text);
    text-align: center;
}

// body model info account
.model-info-acc-body {
    padding: 10px;
    margin-top: 20px;
    font-size: 1.4rem;
}

.model-intro-body {
    display: flex;
    flex-direction: column;
    font-size: 1.4rem;
    padding: 16px;
    border-bottom-left-radius: 6px;
    border-bottom-right-radius: 6px;
    background-color: var(--white);
}

.info-desc-title {
    font-weight: 700;
}

.info-desc-line {
    display: flex;
    align-items: center;
    margin-top: 12px;
}

.info-title {
    width: 83px;
    color: var(--text-opacity);
}

// footer info account
.model-info-acc-footer {
    display: flex;
    justify-content: center;
    margin-top: 20px;
    padding: 10px;

    :hover {
        opacity: 0.8;
    }
}

.footer-update-ic {
    margin-right: 10px;
}

.footer-update-btn {
    padding: 10px;
    border-radius: 6px;
    width: 100%;
    border: none;
    outline: none;
    background-color: var(--grey-400);
    cursor: pointer;
}

.setting-icon {
    color: var(--not-active);
    font-size: 1.4rem;
    margin-right: 8px;
}

.setting-item-btn {
    text-align: left;
    background-color: transparent;
    color: var(--text);
    font-size: 1.4rem;
    width: 100%;
    border: none;
    outline: none;
    cursor: pointer;
}

.item-btn {
    text-align: left;
    padding: 8px;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    width: 100%;
    &:hover {
        background-color: var(--grey-400);
    }
}

// Model update info account
.model-update-info-acc {
    width: 352px;
    height: 540px;
}

.model-update-info-acc-footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    padding: 10px;
}

// button close
.footer-sub-close-btn {
    margin-right: 10px;
    background-color: var(--grey-400);
}

// button sub update
.footer-sub-update-btn {
    color: var(--white);
    background-color: var(--primary);
    width: 100px;
}

// Body sub model update info account
.model-sub-info-acc {
    display: flex;
    flex-direction: column;
    padding: 10px;
}

.sub-title-desc {
    font-size: 1.4rem;
    font-weight: 400;
}

.sub-input-info-acc {
    margin: 10px 0;
    border-radius: 4px;
    font-size: 1.4rem;
    font-weight: 400;
    padding: 6px;
    border: 1px solid var(--grey-400);
    outline: none;

    &:focus {
        border-color: var(--primary);
    }
}

.sub-desc {
    font-size: 1.2rem;
    font-weight: 400;
}

.separator {
    height: 8px;
    background: var(--border);
}

.sub-title-info {
    font-size: 1.4rem;
    font-weight: 600;
}

// Gender
.sub-title-gender {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 16px 0;
    font-size: 1.4rem;
    font-weight: 400;
}

.gender-radio {
    display: flex;
    align-items: center;
    margin-top: 4px;
}

.radio-option {
    display: flex;
    align-items: center;
    margin-right: 10px;
}

.gender {
    margin-left: 4px;
}

// Date of birthday
.sub-title-birthday {
    display: flex;
    flex-direction: column;
}

// footer model sub info account
.footer-sub-close-btn,
.footer-sub-update-btn {
    font-weight: 600;
    padding: 10px;
    border-radius: 4px;
    border: none;
    outline: none;
    cursor: pointer;

    &:hover {
        opacity: 0.8;
    }
}
