.body-login {
    margin: 0px;
    padding: 0px;
    background-color: deepskyblue;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
    position: relative;
}
.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
}
.logo-image {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
    border-radius: 50%;
}
.wrapper {
    margin-top: 10px;
    margin-left: auto;
    margin-right: auto;
    width: 30%;
    position: absolute;
    left: 0;
    right: 0;
    top: 16px;
    bottom: 0;
    margin: auto;
}
.login-title {
    font-family: var(--font-family);
    font-size: 18px;
    font-weight: bold;
    margin-top: 10px;
    text-align: center;
    color: black;
}
.login-form {
    margin-top: 20px;
    width: 100%;
    height: 350px;
    background-color: rgb(255, 255, 255);
    border-radius: 10px;
    box-sizing: border-box;
    font-family: var(--font-family);
}
.form-phoneNumber {
    display: flex;
    width: 70%;
    height: auto;
    margin-left: 15%;
    font-family: var(--font-family);
    border-bottom: solid 0.5px #d3d3d3;
}
.form-phoneNumber input {
    width: 80%;
    height: 25px;
    margin-left: 8%;
    margin-top: 80px;
    font-family: var(--font-family);
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    font-size: 1.7rem;
    background: transparent;
    transition: border-color 0.2s;
}
.form-phoneNumber .item {
    font-size: 25px;
    width: 10%;
    margin-top: 80px;
}
.form-password {
    display: flex;
    width: 70%;
    height: auto;
    padding-top: 50px;
    margin-left: 15%;
    border-bottom: solid 0.5px #d3d3d3;
}
.form-password .password-item {
    font-size: 25px;
    width: 10%;
}
.form-password input {
    font-family: var(--font-family);
    width: 80%;
    height: 25px;
    margin-left: 8%;
    margin-bottom: 10px;
    border: 0;
    outline: 0;
    font-size: 1.5rem;
    background: transparent;
    transition: border-color 0.2s;
}
.form-button button {
    margin-top: 25px;
    margin-left: 15%;
    width: 70%;
    height: 40px;
    border-radius: 10px;
    cursor: pointer;
    font-family: var(--font-family);
    border: 0;
    font-size: 1.8rem;
    color: var(--white);
    background-color: var(--primary);
    &:hover {
        opacity: 0.8;
    }
}
.form-forget {
    padding-top: 15px;
    text-align: center;
    text-align: center;
    font-size: 16px;
    cursor: pointer;
}
.form-register {
    margin-left: 7px;
    font-size: 7px;
    font-family: var(--font-family);
    text-align: center;
    color: black;
}
.form-register .form-register-register {
    text-decoration: none;
}
.form-register p {
    text-decoration: underline;
    margin-right: 5px;
}
//bắt lỗi
.error {
    color: red;
    font-size: 1.5rem;
    margin-left: 15%;
    margin-top: 5px;
    font-family: var(--font-family);
}

.isLoading {
    &:disabled {
        cursor: not-allowed;
    }
}